<nav class="d-none d-md-block bg-light sidebar" style="min-height: 99vh">
  <div class="sidebar-sticky">
    <div class="sidebar-heading">Head</div>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Private Chats
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Group Chats
    </h6>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Search user
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      Create Chat
    </h6>
  </div>
</nav>